@tailwind base;

@tailwind components;

@tailwind utilities;

.tl-edges{
  overflow: visible;
}
body{
  overflow-y: auto;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  left:0 !important;

  box-sizing: border-box;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  height: calc(100vh - 64px);

}

@font-face {
  font-family: Zilla Slab;
  font-weight: bold;
  src: url("../../static/ZillaSlab-Bold.ttf");
}

@font-face {
  font-family: Zilla Slab;
  src: url("../../static/ZillaSlab-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url("../../static/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat;
  src: url("../../static/Montserrat-Light.ttf");
}

nav-item {
  font-family: Montserrat;
  font-weight: bold;
  height: 8vh;
}

body {
  font-family: MontserratRegular;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-container{
  padding-top: 64px;

}
h5 {
  font-size: 30px;
}

p {
  font-family: Zilla Slab;
  font-size: 24px;
}

ul {
  font-size: 20px;
}