html,
body {
  margin: 0;
  font-family: monospace;
  font-weight: 700;
  font-size: 18px;
  cursor: default;
  height: fit-content;
  overflow: hidden;
}
#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: auto;
  top: 0vh;
  left: 0;
  width: 100%;
  height: 92vh;
  margin-top: 8vh;
  margin-bottom: 8vh;
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  box-sizing: border-box;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
  background-color: #e6e6e6;
  min-height: 92vh;
  overflow: hidden;
}
