@tailwind base;

@tailwind components;

@tailwind utilities;

.tl-edges{
    overflow: visible;
}
body{
    overflow-y: auto;
}
.container{
    scroll-snap-type: y mandatory
}
.child {
    scroll-snap-align: start;
  }